a{
    margin-top: 40px;
    background-color:white;
    border: none;
    font-size: large;
    color: rgba(2, 1, 102, 1);
    text-decoration: none;
    cursor: pointer;
}
.link-div{
    margin: 40px;
    margin-left: 110px;
}