@import "../../../../styles/styleVariables.scss";

.poke-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  max-width: 1400px;
  margin: 0 auto;
}

.load_more,
.scroll-to-top {
  margin-bottom: 0px;
  border: none;
  color: $blue;
  background-color: white;


  cursor: pointer;
}

.load_more {
  width: 200px;
  border: 1px solid $blue;
  border-radius: 5px;
  padding: 5px;
    &:hover {
    background-color: #f0f0f0;
  }
}

.scroll-to-top {
  &:hover{
    scale: 1.1;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  padding: 0;
  list-style-type: none;

  @media (max-width: $desktop) {
    gap: 16px;
    padding: 16px;
  }
}

.spinner {
  position: absolute;
  top: calc(50% - #{$size / 2});
  left: calc(50% - #{$size / 2});
  width: $size;
  height: $size;
  animation: spinner 0.75s linear infinite;
  margin-left: 4px;


  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .spinner-inner-1 {
    background: linear-gradient(to right, rgba($spinner, 0) 0%, rgba($spinner, 0) 50%, $spinner 51%);
  }

  .spinner-inner-2 {
    background: linear-gradient(to top, rgba($background, 0) 0%, $background 100%);
  }

  .spinner-inner-3 {
    $offset: $size * 0.1;
    top: $offset;
    left: $offset;
    width: $size - ($offset * 2);
    height: $size - ($offset * 2);
    background: $background;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load-div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
}