.poke-table-container {
    display: flex;
    justify-content: center;
    padding: 16px;
  }

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;  
    grid-gap: 32px;
    padding: 32px;
  
    @media (max-width: 1325px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (max-width: 990px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 16px;
      margin-left: 20px;
      margin-right: 20px;
      grid-gap: 24px;
    }
  
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      padding: 16px;
      margin-left: 20px;
      margin-right: 20px;
      grid-gap: 16px;
    }
  }
  
  