@import '../../../../styles/styleVariables.scss';

.description-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px #00000026;
    background-color: #00000010;
    padding: 20px;

    &.regular-card {
        width: 267.29px;
        height: 255px;

        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }

    &.internal-card {
        width: 844px;
        height: 342;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 110px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .side-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 20px;
    }


    .id {
        font-family: $text-font;
        font-size: 22px;
        font-weight: 400;
        line-height: 25.78px;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;
        color: $text-color;
    }

    figure {
        display: flex;
        align-items: center;
        flex-direction: column;

        .img {
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            height: 250px;
        }

        .name {
            font-family: $text-font;
            font-size: 32px;
            font-weight: 400;
            line-height: 25.78px;
            text-align: left;
            width: 100%;
            text-align: center;
            color: $text-color;
            text-transform: capitalize;
        }
    }

    .types {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .line {
        border: 1px solid rgba(215, 215, 215, 1);
        height: 280px;
        margin-top: 45px;
    }

    .description {
        color: $text-color;
        width: 350px;

        &.description-title {
            margin-top: 46px;
        }

        &.description-text {
            margin: 0;
        }
    }

}