select {
    margin-left: 5px;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 12px;
    padding-right: 30px;

    &:hover {
        background-color: #f0f0f0;
    }

}

option {
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}
